spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel
        user-ban:
          name: user_ban
      channel:
        like: like_channel


server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
    batch-size: 1000
  ad-remover:
    scheduler:
      cron: "@midnight" # every day at midnight
    threads-count: 20
    max-list-size: 50
  commenter-banner:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every day at midnight
    unverified-comments-limit: 5

  correcter:
    retry:
      max-attempts: 3
      delay: 5000
      multiplier: 2
    scheduler:
      cron: "@midnight"
    posts-batch-size: 100

text-gears:
  base-url: https://api.textgears.com
  path-segment: /correct
  api-key: LwbbSarifE2noQhc
  language-code: en-US

springdoc:
  swagger-ui:
    url: /swagger/api.yaml

user-service:
  host: localhost
  port: 8080

project-service:
  host: localhost
  port: 8082

payment-service:
  host: localhost
  port: 9080

thread-pool:
  fixed:
    size: 8