spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  kafka:
    bootstrap-servers: localhost:9092
    backoff:
      interval: 2000
      max_failure: 10
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      followers-batch-size: 1000
      topics:
        comments: comments
        posts: posts
        likes: likes
    consumer:
      group-id: post-1
  data:
    redis:
      port: 6379
      host: localhost
      feed:
        max-feed-size: 500
        days-in-feed : 4
        prefix: newsfeed
        posts-per-page : 20
      post:
        days-in-feed: 4
        prefix: post
      user:
        days-in-feed: 4
        prefix: user
      comment:
        max-size: 3
        days-in-feed: 4
        prefix: comment
      channels:
        post-view: post_view_channel
        post-create: post_channel
        post-like: post_like_channel
        calculations_channel:
          name: calculations_channel
  task:
    execution:
      pool:
        max-size: 10
        core-size: 6
        queue-capacity: 20

server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    batch-size: 10
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    batch-size: 500
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
    expired:
      scheduler:
        cron: "0 0 0 * * ?" # every midnight
  pagination:
    page-size: 1000
  moderator:
    count-posts-in-thread: "100"
    scheduler:
      cron: "0 0 0 * * ?" # every day
      dictionary:
        file: "classpath:moderation-dictionary.txt"

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
