spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        user_ban_channel:
          name: user_ban
        notification_like_channel:
          name: notification_like_channel
        calculations_channel:
          name: calculations_channel
        comment_event_channel:
          name: comment_event_channel

  mvc:
    servlet:
      path: /api/v1


server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute #TODO: не используется, но может потом пригодится
  ad-remover:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute #TODO: не используется, если нет, то удалить

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

like:
  endpoint:
    context-path: "/api/v1/likes"
scheduled:
  author-banner: "@daily"

limits:
  unverified_post_limit: 5