spring:
  mvc:
    servlet:
      path: /api/v1
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel
        comment_channel:
          name: comment_channel
      max-feed-size: 500
      key-spaces:
        feed:
          name: Feed
          ttl: 3

  kafka:
    bootstrap-servers: localhost:9092
    topics-name:
      posts: posts
      comments: comments
      likes: likes
      post-views: post_views
    producer:
      idempotence: true
    consumer:
      group-id: posts-group-id
      deserializer-trusted-packages:
        "java.util,java.lang,faang.school.postservice.dto.event"
      backoff:
        interval: 5000
        max-attempts: 5

server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    thread-count: 10
    batch-size: 1000
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    scheduler:
      cron: "0 0 0 * * ?" # every day
      batch-size: 10

moderation:
  chunkSize: 100
  post:
    badWords:
      cron: "0 0 * * * *" # every day at 00:00

news-feed:
  pool:
    thread-count: 10

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
notification-service:
  host: localhost
  port: 8083
