spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB
  mvc:
    servlet:
      path: /api
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel
        comment_channel:
          name: comment_channel

  kafka:
    listener:
      ack-mode: MANUAL
    producer:
      bootstrap-servers: localhost:29092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: localhost:29092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: post_service
    properties:
      spring.json.trusted.packages: '*'
    batch-size: 1000
    topics:
      post:
        name: post_topic
      comment:
        name: comment_topic
      like:
        name: like_topic

server:
  port: 8081

logging:
  level:
    root: info

scheduler:
  post-publisher:
    cron: "0 0/1 * 1/1 * ?" # every minute
    size_batch: 1
  ad-remover:
    cron: "0 0/1 * 1/1 * ?" # every minute
    zone: Europe/Moscow
    batch-size: 100
  moderation:
    post:
      time: 0 0 0 * * ?
      batch_size: 10_000
    comment:
      time: "0 * * * * *"
      batch_size: 100

services:
  s3:
    endpoint: http://127.0.0.1:9000
    accessKey: user
    secretKey: password
    bucketName: corpbucket

resource:
  limit: 10
  folder: files
  max-width: 1080
  max-height: 566

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

post_moderation:
  time: 0 0 0 * * ?
  batch_size: 10_000

like_service:
  batch: 100

ttl:
    cache: 86400

feed:
  posts: 500
  batch: 20