spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB
  mvc:
    servlet:
      path: /api
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel
        comment_channel:
          name: comment_channel

server:
  port: 8081

logging:
  level:
    root: info

scheduler:
  post-publisher:
    cron: "0 0/5 * * * ?" # every 5 minute
    size_batch: 10
  ad-remover:
    cron: "0 0/1 * 1/1 * ?" # every minute
    zone: Europe/Moscow
    batch-size: 100
  moderation:
    post:
      time: 0 0 0 * * ?
      batch_size: 10_000
    comment:
      time: "0 * * * * *"
      batch_size: 100
  post-correcter:
    cron: "0 0/1 * 1/1 * ?" # every minute

services:
  s3:
    endpoint: http://127.0.0.1:9000
    accessKey: user
    secretKey: password
    bucketName: corpbucket

resource:
  limit: 10
  folder: files
  max-width: 1080
  max-height: 566

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
