spring:
  mvc:
    servlet:
      path: /api/v1
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel
        comment_channel:
          name: comment_channel

  kafka:
    bootstrap-servers: localhost:2902
    topics-name:
      posts: posts

server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    thread-count: 10
    batch-size: 1000
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    scheduler:
      cron: "0 0 0 * * ?" # every day
      batch-size: 10

moderation:
  chunkSize: 100
  post:
    badWords:
      cron: "0 0 * * * *" # every day at 00:00

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
notification-service:
  host: localhost
  port: 8083
