spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  profiles:
    active: dev

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel
        postLike: post_like_channel
        post: post_channel
        likeChannel: like_channel
        like_post_analytics: like_event
        album: album_channel
        comment: comment_channel
        comment_achievement: comment_channel
      cache:
        post:
          ttl: 86400
        user:
          ttl: 86400

    elasticsearch:
      rest:
        uris: http://localhost:9200
      index-post:
        index: post
      field-for-match:
      search-by-hashtag:
        field: hashtagNames
      field-for-range:
        field: id

    hashtag-cache:
      size:
        post-cache-size: 10

  services:
    s3:
      endpoint: http://localhost:9000
      accessKey: user
      secretKey: password
      bucketName: projectbucket

  resources:
    file:
      max-file-size: 5242880 # 5 mb
      quality-files-when-adding-single-file: 1
    image:
      max-width-horizontal: 1080
      max-height-horizontal: 566
      max-size-square: 1080
      max-side: 1080
      min-side: 170
      supported-image-types: "image/png,image/jpeg,image/jpg"

  post:
    max-image-quantity: 10

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: postGroup
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringDeserializer
      value-serializer: org.apache.kafka.common.serialization.StringDeserializer

    topic:
      likes:
        name: likes
        partitions: 8
      posts:
        name: posts
        partitions: 8
      posts_view:
        name: posts_view
        partitions: 8
      comments:
        name: comments
        partitions: 8


server:
  port: 8081

post:
  publisher:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
hashtag-service:
  host: localhost
  port: 8083
payment-service:
  host: localhost
  port: 9080

batch-size: 100

thread-pool:
  size:
    min: 10
    max: 20
  keep-alive:
    time: 60
    time-unit: SECONDS
  queue-size: 10000

post-correcter:
  scheduler:
    cron: "0 0 0 * * ?" # every day
  url: https://api.textgears.com/correct
  key-param: key
  key: dummy-key
  language-param: language
  language: en-US
  text-param: text

services:
  s3:
    endpoint: http://localhost:9000
    accessKey: user
    secretKey: password
    bucketName: projectbucket