spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      lock-registry:
        key: registry-key
        ttl-millis: 10000
        try-lock-millis: 2000
      cache:
        post:
          ttl-hours: 24
          prefix: "Post:"
          field:
            likes: likesCount
          comments:
            max-size: 3
        user:
          ttl-hours: 24
        news-feed:
          prefix: "NewsFeed:"

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      enable-auto-commit: false
      group-id: group1
    topic:
      post:
        published: post-published-topic
      like:
        added: like-added-topic
      comment:
        added: comment-added-topic

  async:
    executor:
      core-pool-size: 50
      max-pool-size: 100
      queue-capacity: 500

news-feed:
  max-size: 500
  batch-size: 20

server:
  port: 8081

logging:
  level:
    root: info

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
