spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 8MB
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations_channel:
          name: calculations_channel

  aws:
    s3:
      endpoint: http://localhost:9000 # or 'default' , then will be use default s3 url
      accessKey: user
      secretKey: password
      region: us-east-1



server:
  port: 8081

logging:
  level:
    root: info

post:
  thread-pool:
    size: 10
    task-timeout: 5 # in second
  validation-param:
    obsolescence-period-date-publication: 5 # in minute
    max-post-resource: 10
  publisher:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute

resource:
  post-resource-bucket: post-resource-bucket
  max-width-landscape: 1080
  max-height-landscape: 566
  max-dimension-square: 1080



user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

#springdoc:
#  api-docs:
#    path: /docs
#  swagger-ui:
#    path: /swagger-ui.html