spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      time-to-live: 24
      channels:
        post-view: post_view_channel
        post-create: post_channel
        post-like: post_like_channel
        calculations_channel:
          name: calculations_channel
  task:
    execution:
      pool:
        max-size: 10
        core-size: 6
        queue-capacity: 20

  kafka:
    host: localhost
    port: 9092
    topic:
      producer:
        post-views: post-views
      consumer:
        post-views: post-views

server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    batch-size: 10
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    batch-size: 500
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
    expired:
      scheduler:
        cron: "0 0 0 * * ?" # every midnight
  pagination:
    page-size: 1000
  moderator:
    count-posts-in-thread: "100"
    scheduler:
      cron: "0 0 0 * * ?" # every day
      dictionary:
        file: "classpath:moderation-dictionary.txt"

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080
