spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        calculations-channel: calculations_channel
        user-service: ban_user_channel
      topics:
        comment_event_topic: commentEventQueue

  kafka:
    bootstrap-servers: "localhost:9092"
    pool-size: 3
    consumer:
      group-id: "group"
      auto-offset-reset: earliest
    topics:
      album-created:
        name: album-created_topic
        num-partitions: 3
        replication-factor: 1

server:
  port: 8081

logging:
  level:
    root: info

post:
  publisher:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ban-user:
    scheduler:
      cron: "0 0 2 * * *" # every day
  verify:
    retry:
      max-attempts: 3
      delay: 5000
    scheduler:
      cron: "0 0 2 * * *" # every day

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

censorship:
  words:
    - 1C
    - Динамическая типизация
    - Многопоточность